.responsive {
    width: 100%;
    height: auto;

}

.right {
    float: right;
}

.bg-lightgrey {
    background-color: #F0F0F0;
}

.header-link {
    color: black;
    opacity: 65%;
    text-decoration-line: none;
}

.header-link:hover {
    color: black;
    cursor: pointer;
}

.login-system {
}

h1 {
    font-weight: bold;
}

.banner-container {
    min-height: 300px;
}

.shopping-cart-counter {

}

.shopping-cart {
    margin-top: 8px;
    margin-left: 25px;
    scale: 125%;
}